:root {
  --color-bg: #111827;
  --color-card: #1f2937;
  --color-primary: #f9fafb;
  --color-secondary: #9ca3af;
  --color-accent: #38bdf8;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  --font-family-poppins: "Poppins", system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  font-family: var(--font-family-poppins);
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-primary);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

p {
  color: var(--color-secondary);
}

strong {
  color: var(--color-primary);
}

.container {
  width: 80%;
  margin: auto;
}

.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

.fs-small {
  font-size: 0.9em;
}
